@use './vars' as *;

main {
  margin-top: 50px;

  .main-wrap {
    grid-row: 1;
    grid-column: 1 / span 12;
    opacity: 0;
    visibility: hidden;

    img {
      position: fixed;
      z-index: $z-index-images;
      width: 280px;
      height: 420px;
      object-fit: cover;
      border-radius: 250px;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      transition: opacity .8s cubic-bezier(.25, 1, .5, 1), visibility .8s cubic-bezier(.25, 1, .5, 1);
    }

    a {
      display: inline-block;
      font-family: $font-primary;
      font-size: clamp(60px, 5.21vw, 100px);
      text-transform: uppercase;
      opacity: .4;
      transform: translateY(100%);
      transition: opacity .6s cubic-bezier(.25, 1, .5, 1), transform .6s cubic-bezier(.25, 1, .5, 1);
      transition-delay: 0s, calc(.05s * var(--index) - .05s);
    }

    &.active {
      opacity: 1;
      visibility: visible;

      a {
        transform: translateY(0);
      }
    }

    &.fade-out a {
      transform: translateY(100%);
    }

    span {
      display: inline-block;
      overflow: hidden;

      @media (hover: hover) {
        &:hover,
        &.active {
          a,
          ~ img {
            opacity: 1;
            visibility: visible;
          }

          ~ .img-1 {
            transition-delay: .1s;
          }

          ~ .img-2 {
            transition-delay: .2s;
          }
        }
      }
    }

    .row-wrap {
      text-align: center;
      margin-top: 30px;

      @media (min-width: 768px) {
        margin-top: 15px;
      }

      @media (min-width: 1024px) {
        margin-top: 0;
      }

      &.left {
        &-1 span {
          transform: translateX(-7vw);
        }

        &-2 span {
          transform: translateX(-12vw);
        }

        &-3 span {
          transform: translateX(-18vw);
        }

        .img-1 {
          top: 15%;
          right: 25%;
        }

        .img-2 {
          top: 45%;
          left: 15%;
        }
      }

      &.right {
        &-1 span {
          transform: translateX(7vw);
        }

        &-2 span {
          transform: translateX(12vw);
        }

        &-3 span {
          transform: translateX(18vw);
        }

        .img-1 {
          top: 15%;
          left: 25%;
        }

        .img-2 {
          top: 45%;
          right: 15%;
        }
      }
    }
  }

  .nav-wrap {
    opacity: 0;
    grid-column: 1 / span 12;
    animation: fadeIn .8s cubic-bezier(.25, 1, .5, 1) .8s 1 normal forwards;

    .nav {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 40px;
      margin-bottom: 70px;
    }

    .years {
      display: flex;
      align-items: center;
      margin-bottom: 10px;

      &::before,
      &::after {
        content: '';
        width: 25px;
        height: 1px;
        background-color: $color-white;
        opacity: .4;
      }

      button {
        margin: 0 15px;
        color: $color-white;
        font-family: $font-primary;
        font-size: 26px;
        opacity: .4;
        transition: opacity .6s cubic-bezier(.25, 1, .5, 1);

        &.active {
          opacity: 1;
        }

        @media (hover: hover) {
          &:hover {
            opacity: 1;
          }
        }
      }
    }

    .controls {
      position: relative;
      width: 40px;
      height: 40px;
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: grab;
      user-select: none;
      transition: transform .4s cubic-bezier(.25, 1, .5, 1);

      &::before,
      &::after {
        content: '';
        position: absolute;
        top: 50%;
        display: block;
        width: 0;
        height: 0;
        border: 6px solid transparent;
        border-right-color: $color-white;
      }

      &::before {
        transform: translateY(-50%) translateX(-28px);
      }

      &::after {
        transform: translateY(-50%) rotate(180deg) translateX(-27px);
      }

      .center {
        width: 7px;
        height: 7px;
        border-radius: 100%;
        background-color: $color-white;
        box-shadow: 0 0 0 8px $color-black, 0 0 0 10px $color-white;
      }
    }

    .instructions {
      font-size: 16px;
      text-transform: uppercase;
      letter-spacing: 1.2px;
      opacity: .4;
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
}
