@use './vars' as *;

footer {
  width: 100%;
  margin-bottom: clamp(20px, 2.6vw, 50px);

  @media (min-width: 1024px) {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .footer-wrap {
    grid-column: 1 / span 12;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  li,
  button {
    opacity: 0;
    animation: fadeIn .6s cubic-bezier(.25, 1, .5, 1) 0s 1 normal forwards;
  }

  li {
    animation-delay: calc(.1s * var(--index) + .5s);
  }

  ul {
    display: flex;
    list-style-type: none;
  }

  li + li {
    margin-left: clamp(30px, 3.9vw, 75px);
  }

  a {
    font-size: 16px;
    letter-spacing: .8px;
    text-transform: uppercase;

    &::after {
      content: '';
      display: block;
      width: 0;
      height: 1px;
      background-color: $color-white;
      transition: width .6s cubic-bezier(.25, 1, .5, 1);
    }

    &.active::after {
      width: 100%;
    }

    @media (hover: hover) {
      &:hover::after {
        width: 100%;
      }
    }
  }

  button {
    transition: transform .6s cubic-bezier(.25, 1, .5, 1);
    animation-delay: .5s;

    @media (hover: hover) {
      &:hover {
        transform: translateY(-3px);
      }
    }
  }

  svg {
    width: 26px;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 100%;
    }
  }
}
