@use './vars' as *;

header {
  margin-top: 50px;

  .header-wrap {
    grid-column: 1 / span 12;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  ul {
    display: flex;
    list-style: none;
  }

  li {
    margin-right: 75px;
  }

  a {
    font-size: 18px;
    letter-spacing: .8px;
    text-transform: uppercase;

    &::after {
      content: '';
      display: block;
      width: 0;
      height: 1px;
      background-color: $color-white;
      transition: width .6s cubic-bezier(.25, 1, .5, 1);
    }

    &.active::after {
      width: 100%;
    }

    &:hover::after {
      width: 100%;
    }
  }

  button {
    transition: transform .6s cubic-bezier(.25, 1, .5, 1);

    &:hover {
      transform: translateY(-3px);
    }
  }

  svg {
    fill: $color-white;
  }
}
