$color-black: #000000;
$color-white: #ffffff;

$font-primary: 'Cormorant Infant', serif;
$font-secondary: 'Roboto Condensed', sans-serif;

$page-margin: clamp(30px, 4.12vw, 80px);
$content-width: 1800px;

$grid-gap: clamp(10px, 1.5625vw, 30px);
